.CodeMirror {
    height: 100% !important;
    width: 100% !important;
    border: 1px solid #eee;
}

.mxl-cursorpositionbox {
    font-family: monospace;
    border-right: 1px solid #ddd;
    background-color: #f7f7f7;
    white-space: nowrap;
    background-color: #FFCCFF;
    padding: 0 3px 0 5px;
    width: 20px;
    text-align: right;
    color: #999;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}


.cm-s-mxl span.cm-meta {
    color: #FF1717;
}

.cm-s-mxl span.cm-keyword {
    color: blue;
}

.cm-s-mxl span.cm-atom {
    color: blue;
}

.cm-s-mxl span.cm-number {
    color: orange;
}

.cm-s-mxl span.cm-def {
    color: #00f;
}

.cm-s-mxl span.cm-variable {
    color: black;
}

.cm-s-mxl span.cm-variable-2 {
    color: #0000C0;
}

.cm-s-mxl span.cm-variable-3 {
    color: #0000C0;
}

.cm-s-mxl span.cm-property {
    color: black;
}

.cm-s-mxl span.cm-comment {
    color: LimeGreen;
}

.cm-s-mxl span.cm-string {
    color: red;
}

.cm-s-mxl span.cm-quoted {
    color: gray;
}

.cm-s-mxl span.cm-string-2 {
    color: #f50;
}

.cm-s-mxl span.cm-error {
    color: #f00;
}

.cm-s-mxl span.cm-qualifier {
    color: #555;
}

.cm-s-mxl span.cm-builtin {
    color: #30a;
}

.cm-s-mxl span.cm-bracket {
    color: #cc7;
}

.cm-s-mxl span.cm-tag {
    color: #170;
}

.cm-s-mxl span.cm-attribute {
    color: #00c;
}

.CodeMirror-matchingbracket {
    border: 1px solid grey;
    color: black !important;
}
