.CodeMirror-hints {
    list-style: none;
    margin: 0;
    padding: 2px;
    max-height: 20em;
    overflow-y: auto;
}


.CodeMirror-hintHelp {
    width: 370px;
    float: right;
    padding: 1em 0 1em 1em;
    max-height: 20em;
    overflow-y: auto;
}

.CodeMirror-hintsDialog {
    position: absolute;
    z-index: 5000;
    overflow: hidden;
    -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
    -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
    box-shadow: 2px 3px 5px rgba(0,0,0,.2);
    border-radius: 3px;
    border: 1px solid silver;
    background: white;
    font-size: 90%;
    font-family: monospace;
    max-height: 23em;
    width: 600px;
}

    .CodeMirror-hintsDialog h4 {
        font-size:120%;
        font-weight:bold;
    }

li.CodeMirror-hint {
    margin: 0;
    padding: 0 4px;
    border-radius: 2px;
    max-width: 19em;
    overflow: hidden;
    white-space: pre;
    color: black;
    cursor: pointer;
}


    li.CodeMirror-hint.mxl-keyword {
        color: blue;
    }

    li.CodeMirror-hint.mxl-function {
        color: black;
    }

    li.CodeMirror-hint.mxl-type {
        color: #339933;
    }

    li.CodeMirror-hint.mxl-attribute {
        color: #990066;
    }

    li.CodeMirror-hint.mxl-previous {
        color: gray;
    }

    li.CodeMirror-hint.mxl-identifier {
        color: black;
    }

    li.CodeMirror-hint.mxl-package {
        color: #FF3333;
    }

li.CodeMirror-hint-active {
    background: #ddd;
}
