<div class="loading selection" ng-if="result.waiting === true">
    <i class="fa fa-spinner fa-pulse fa-3x"></i>
</div>
<div class="row intermediate selection">
    <div ng-if="(result.waiting == null || result.waiting === false ) && result.wizardError == null">
        <div class="col-md-1 col-md-offset-1 inter-info">
            <div class="arrow pull-right" ng-if="result.unknown == true">
                <span><i class="fa fa-question fa-lg"></i></span>
            </div>
            <div class="arrow pull-right" ng-if="result.unknown == false">
                <span><i class="fa fa-long-arrow-down fa-lg"></i></span>
            </div>
        </div>
        <div class="col-md-10 row-margin">
            <div class="panel panel-default intermediate">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{ result.type }}
                        <a class="pull-right collapsed" data-toggle="collapse" data-target="#preview-{{$index}}"></a>
                    </h3>
                </div>
                <div id="preview-{{$index}}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div ng-if="result.type.lastIndexOf('Sequence', 0) === 0">
                            <ul>
                                <li  ng-repeat="item in result.preview | limitTo: 5 track by $index">
                                    <span ng-if="item.name">{{ item.name }}</span>
                                    <span ng-if="!item.name">{{item}}</span>
                                </li>
                            </ul>
                        </div>
                        <div ng-if="result.type === 'Number'">
                            {{ result.preview }}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="result.wizardError != null">
        <div class="col-md-1 col-md-offset-1 inter-info">
            <div class="error pull-right">
                <span style="color: white;"><i class="fa fa-exclamation"></i></span>
            </div>
        </div>
        <div class="col-md-10 intermediate">
            <div class="panel panel-default intermediate">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <p>{{result.wizardError}}</p>
                    </h3>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row intermediate selection" ng-init="show=false">
    <div class="col-md-12 insert-step" ng-mouseenter="show=true" ng-mouseleave="show=false" ng-click="insertStep($index)">
        <span title="Insert a step" ng-show="show && result.config.selectedFunction"><i class="fa fa-plus-circle fa-2x"></i></span>
    </div>
</div>